<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mywebpage.css">
</head>
<body>
    

   <div class="navbar">
    <ul>
      <li>About</li>
      <li>Apps</li>
      <li>Contact</li>
    </ul>
   </div>



  <div class="name">
    <h4> Pablo Bolanos </h4>
  </div>
   <br> 
   <br>

<div class="sandy">
	<div class="tagline">
    <h1> Welcome to my Page, I am a developer </h1>
  </div>

  <div class="btn">
    <p>View my Work </p>
  </div>
</div>

<br>
<br>
	
  <div class="footer">
    <a href="https://github.com/pablobol09/mywebpage.git"><img src="https://imageshack.com/i/pl3ray5Hp"></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><img src="https://imageshack.com/i/pltB7o9Tp"></a>
    <a href="https://twitter.com/pablobol09"><img src="https://imageshack.com/i/poMfGiExp"></a>
  </div>

	
</body>

</html>
